{% extends "base.html" %}

{% block title %} Repository Explorer {% endblock %}
{% block content %}

<h1 class="mb-4">{{ username }}'s Dashboard</h1>
<a href="{{ url_for('home') }}" class="btn btn-secondary">
    ← Search Another User
</a>

{% if user %}
<div class="card mb-4 shadow">
    <div class="card-body d-flex align-items-center">
        <img src="{{ user.avatar_url }}" class="rounded-circle me-4" width="120" height="120">
        <div>
            <h2>{{ user.name or user.login}}</h2>
            <p class="text-muted">
                @{{ user.login }}
            </p>
            <p>
                {{ user.bio or "User's Bio is not Available"}}
            </p>
            <p>
                {{ user.location or "Location not Specified"}}
            </p>
            <p>
                {{ user.company or "Independent Dev" }}
            </p>
            <p>
                {% if user.blog %}
                <a href="{{ user.blog}}" target="_blank">
                    {{ user.blog }}
                </a>
                {% else %}
                None
                {% endif %}
            </p>
            <p>
                Joined: {{ user.created_at[:10] }}
            </p>
            <p>
                Followers: <strong>{{ user.followers }}</strong> | Following: <strong>{{ user.following }}</strong> |
                Public Repos: <strong>{{ user.public_repos }}</strong>
            </p>

            <a href="{{ user.html_url }}" target="_blank" class="btn btn-dark"> View GitHub Profile</a>


        </div>
    </div>
</div>
{% endif %}



{% if analytics %}
<div class="row mb-4">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h2>{{ analytics.total_repositories }}</h2>
                <p>Total Repositories</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h2>{{ analytics.total_stars }}</h2>
                <p>Total Stars</p>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h2>{{ analytics.total_forks }}</h2>
                <p>Total Forks</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h2>{{ analytics.most_common_language }}</h2>
                <p>Primary Language</p>
            </div>
        </div>
    </div>
</div>

{% endif %}

<!-- analytics -->
{% if repos %}
<div class="alert alert-info" id="repositorySummary">

    <h5>DevWorld Insights</h5>

    <ul>

        <li>
            Your most used language is
            <strong>{{ analytics.most_common_language }}</strong>.
        </li>

        <li>
            Your most starred repository is
            <strong>{{ analytics.most_starred }}</strong>.
        </li>

        <li>
            You have
            <strong>{{ analytics.active_repositories }}</strong>
            active repositories.
        </li>

        <li>
            Your largest repository is
            <strong>{{ analytics.largest_repository }}</strong>.
        </li>

    </ul>

</div>
{% endif %}


{% if analytics.language_breakdown %}

<!-- repo filters and controls -->
<div class="card shadow mb-4">
    <div class="card-body">
        <h4 class="mb-3"> Repository Explorer </h4>
        <div class="row g-3">
            <!-- searching -->
            <div class="col-md-4">
                <input id="repoSearch" class="form-control mb-4" placeholder="Type Repo Name To Search repositories...">
            </div>
            <!-- sorting section -->
            <div class="col-md-3">
                <select id="repoSort" class="form-select">
                    <option value="updated_desc">
                        Newest Updated
                    </option>
                    <option value="updated_asc">
                        Oldest Updated
                    </option>
                    <option value="created_desc">
                        Newest Created
                    </option>
                    <option value="created_asc">
                        Oldest Created
                    </option>
                    <option value="name_asc">
                        Alphabetical A-Z
                    </option>
                    <option value="name_desc">
                        Alphabetical Z-A
                    </option>
                    <option value="stars_desc">
                        Most Stars
                    </option>
                    <option value="stars_asc">
                        Least Stars
                    </option>
                    <option value="forks_desc">
                        Most Forks
                    </option>
                    <option value="forks_asc">
                        Least Forks
                    </option>
                    <option value="size_desc">
                        Largest Size
                    </option>
                    <option value="size_asc">
                        Smallest Size
                    </option>
                </select>
            </div>
            <!-- language filter -->
            <div class="col-md-2">
                <select id="languageFilter" class="form-select">
                    <option value="all">
                        All Languages
                    </option>
                </select>
            </div>
<!-- reset filters -->
            <div class="col-md-3">
                <button id="resetFilters" class="btn btn-secondary">
                    Reset Filters
                </button>
            </div>
        </div>
    </div>
</div>

<hr class="my-5">
<h3 class="mb-4"> Repository Analytics</h3>
<div class="mb-4">
    <button id="showAllRepos" class="btn btn-primary">
        Show All Repository Analytics
    </button>
</div>
<div class="row">
    <!-- language chart -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow chart-card">
            <div class="card-body">
                <h5 class="chart-title">
                    Language Distribution
                </h5>
                <div class="chart-container">
                    <canvas id="languageChart"></canvas>
                </div>

            </div>
        </div>
    </div>
    <!-- Stars Chart -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow chart-card">
            <div class="card-body">
                <h5 class="chart-title">
                    Repository Stars
                </h5>
                <div class="chart-container">
                    <canvas id="starsChart">

                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- no of forks per repo -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow chart-card">
            <div class="card-body">
                <h5 class="chart-title">
                    Repository Forks
                </h5>
                <div class="chart-container">
                    <canvas id="forkChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="card shadow mb-5">
    <div class="card-header">
        <h4> Repository Intelligence </h4>
    </div>
    <div class="card-body" id="repositoryIntelligence">
        <p class="text-muted">
            Select a repository to view Engineering insights.
        </p>
    </div>
</div>
{% endif %}
<!-- insights -->
{% if repos %}
<div class="row" id="repositoryContainer">
</div>
{% else %}
<p class="text-muted">No repositories found for this user.Enter a different username.</p>
{% endif %}

<div id="ai-loading" class="ai-loading-overlay">
    <div class="ai-loading-box">
        <div class="spinner"></div>
        <h3>
            Senior Engineer AI Review
        </h3>
        <p>
            Groq is analyzing this repository.
            <br>
            Please wait a moment...
            To Cancel, refresh the page...
        </p>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    window.devWorld = {
        username: "{{ username }}",
        repositories: {{ repos | tojson }},
        analytics: {{ analytics | tojson }}
    };
</script>
<script src="{{ url_for('static', filename='js/intelligence.js') }}"></script>
<script src="{{ url_for('static', filename='js/repository.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

{% endblock %}